<!DOCTYPE html>
<html lang="ja">
<head>
	<meta name="viewport" content="width=device-width">
	<meta charset="utf-8">
	<title>タイトル</title>
	<style>
		body{
			/* 選択状態にできないようにする
			※ inputタグ等を使う場合は、別途auto設定してください */
			user-select: none;			/* CSS3 */
			-moz-user-select: none;		/* Firefox */
			-webkit-user-select: none;	/* SafariやChrome */
			-ms-user-select: none;		/* IE */
			
			/* 端から表示する */
			margin: 0px;
			padding: 0px;
			
			/* スクロールバーをなくす */
			overflow: hidden;
		}
		
		canvas {
			/* キャンバス拡大時にぼやけるのを防止する */
			image-rendering: -moz-crisp-edges;	/* Firefox */
			image-rendering: pixelated; 		/* Chrome */ 
		}
	</style>
</head>

<body>
	<!-- canvasタグ（id="onigiri_canvas"）の設置は必須！idもそのままで -->
	<canvas id="onigiri_canvas"></canvas>
	
	<!-- imgタグとかを使用するならこの辺に書いていく -->
	
	<!-- 「おにぎりエンジン」→「自分で用意したJSファイル」の順で読み込む -->
	<script src="OnigiriEngine.js"></script>
	<script src="game.js"></script>
	
	<!-- ぷりアニを使用するなら、ここらへんでJSONファイルを読み込むタグを追加 -->
</body>
</html>